* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #1d1d1d;
  color: whitesmoke; 
  line-height: 1.6; /* Spaziatura verticale tra righe di testo (forse un po' troppo) */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* L'altezza minima è pari a quella della finestra del browser */
}

.container {
  width: 350px;
  margin: 50px auto;
  padding: 20px;
  background-color: #373838;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-bottom: 10px; 
}

.container h2 {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

.container label {
  display: block;
  margin-top: 15px;
  font-size: 14px;
  text-align: left;
}

.container input[type="text"],
.container input[type="email"],
.container input[type="password"] {
  width: calc(100% - 20px);
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #ffb101;
  border: 2px solid #1d1d1d;
  background-color: #373838;
  border-radius: 10px;
  font-size: 14px;
}

/* Checkbox del remember me e newsletter*/
.container .checkbox-group {
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: flex-start;
  gap: 10px; 
}

.container input[type="checkbox"] {
  margin-top: 15px; 
}

/* Pulsante submit */
.container input[type="submit"] {
  margin-top: 15px;
  padding: 8px 16px;
  background-color: #ffb101;
  border: 2px solid #1d1d1d;
  color: #1d1d1d;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
}

.container input[type="submit"]:hover {
  background-color: #e2a109;
}

/* Messaggi di errore */
.error {
  font-size: 12px;
  color: red;
  margin-top: -5px;
  margin-bottom: 10px;
}

/* Additional text below form */
.container #loginError {
  font-size: 12px;
  margin-top: 10px;
  color: red;
}

.container a {
  display: block;
  margin-top: 15px;
  font-size: 12px;
  color: #1d1d1d;
  text-decoration: underline;
}

.register-link, .login-link {
  text-align: center;
  margin-top: 10px;
}

.register-link a, .login-link a {
  color: #ffb101; 
  text-decoration: underline;
}

.register-link a:hover, .login-link a:hover {
  color: #e2a109; 
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffb101;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #373838;
}

.header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: #373838;
  color: whitesmoke; 
  padding: 10px 0px;
  width: 100%;
  position: relative;
}

.header .search {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 10px;
}

.header .search input {
  padding: 5px;
  background-color: #373838;
  color: #ffb101;
  border: 1px solid #1d1d1d;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.header .search button {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

.header .search button img {
  width: 20px; 
  height: auto; 
  margin-left: 5px; 
  transition: transform 0.2s ease-in-out; 
  border: 0;
}

.header .search button img:hover {
  transform: scale(1.1); /* Leggero ingrandimento al passaggio del mouse */
}

.header .logo {
  flex: 0; 
  display: flex;
  justify-content: center; 
  align-items: center;
}

.header .logo img {
  max-height: 50px;
}

.header .nav-links {
  flex: 1; 
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}

.header .nav-links ul {
  list-style: none;
  display: flex;
  gap: 15px; 
  margin: 0;
  padding: 0;
}

.header .nav-links li {
  display: inline;
}

.header .nav-links a {
  text-decoration: none;
  color: #ffb101;
  font-weight: bold;
  transition: color 0.3s;
}

.header .nav-links a:hover {
  color: #e2a109; 
  text-decoration: underline; 
}

.header .nav-links a:active {
  color: #ffb101; 
}

.header .nav-links img{
  width: 20px; 
  margin-right: 5px; 
}



footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #373838; 
  color: #ffb101; 
  padding: 10px 0px;
  font-size: 14px;
  width: 100%;
  position: relative; 
  margin-top: auto; /* Fa sì che il footer venga spinto al fondo */
  bottom: 0;
}

footer .rights {
  flex: 1; /* Occupa tutto lo spazio a sinistra */
  text-align: left;
  margin-left: 10px;
}

footer .privacy_terms {
  flex: 2; /* Occupa lo spazio centrale */
  text-align: center;
}

footer .privacy_terms a {
  color: #ffb101; /* Colore giallo scuro per i link */
  text-decoration: none;
  margin: 0 10px; /* Distanza tra i link */
}

footer .privacy_terms a:hover {
  text-decoration: underline; /* Sottolineatura al passaggio del mouse */
  color: #e2a109;
}

footer .socials {
  flex: 1; /* Occupa tutto lo spazio a destra */
  display: flex; /* Dispone gli elementi in una riga */
  align-items: center; /* Allinea verticalmente le icone */
  gap: 15px; 
  justify-content: flex-end; /* Giustifica a destra */
  margin-right: 10px;
}

footer .socials a {
  color: #ffb101; 
  text-decoration: none;
  margin: 0 10px; /* Distanza tra i link */
  display: flex; /* Allinea il logo e il testo orizzontalmente */
  align-items: center; /* Allinea verticalmente il logo con il testo */
}

footer .socials a:hover {
  text-decoration: underline; 
  color: #e2a109;
}

footer .socials img.social-logo {
  width: 20px; /* Imposta la dimensione del logo */
  margin-right: 5px; /* Distanza tra il logo e il testo */
}