* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #1d1d1d;
  color: whitesmoke; 
  line-height: 1.6; /* Spaziatura verticale tra righe di testo (forse un po' troppo) */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* L'altezza minima è pari a quella della finestra del browser */
}

.container {
  width: 350px;
  margin: 50px auto;
  padding: 20px;
  background-color: #373838;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-bottom: 10px; 
}

.container h2 {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

.container label {
  display: block;
  margin-top: 15px;
  font-size: 14px;
  text-align: left;
}

.container input[type="text"],
.container input[type="email"],
.container input[type="password"] {
  width: calc(100% - 20px);
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #ffb101;
  border: 2px solid #1d1d1d;
  background-color: #373838;
  border-radius: 10px;
  font-size: 14px;
}

.container .pass-group {
  position: relative;
}

#togglePassword {
  position: absolute;
  top: 65%;
  right: 10px; 
  transform: translateY(-50%); 
  background: none; 
  border: none; 
  cursor: pointer; 
  padding: 0; 
}

#togglePassword img {
  width: 30px; 
  height: auto; 
  transition: transform 0.2s ease-in-out; 
}

#togglePassword img:hover {
  transform: scale(1.1); 
}

/* Checkbox del remember me e newsletter*/
.container .checkbox-group {
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: flex-start;
  gap: 10px; 
}

.container input[type="checkbox"] {
  margin-top: 15px; 
}

/* Pulsante submit */
.container input[type="submit"] {
  margin-top: 15px;
  padding: 8px 16px;
  background-color: #ffb101;
  border: 2px solid #1d1d1d;
  color: #1d1d1d;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
}

.container input[type="submit"]:hover {
  background-color: #e2a109;
}

/* Messaggi di errore */
.error {
  font-size: 12px;
  color: red;
  margin-top: -5px;
  margin-bottom: 10px;
}

/* Additional text below form */
.container #loginError {
  font-size: 12px;
  margin-top: 10px;
  color: red;
}

.container a {
  display: block;
  margin-top: 15px;
  font-size: 12px;
  color: #1d1d1d;
  text-decoration: underline;
}

.register-link, .login-link {
  text-align: center;
  margin-top: 10px;
}

.register-link a, .login-link a {
  color: #ffb101; 
  text-decoration: underline;
}

.register-link a:hover, .login-link a:hover {
  color: #e2a109; 
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffb101;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #373838;
}

.header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: #373838;
  color: #f5f5f5; 
  padding: 10px 0px;
  width: 100%;
  position: relative;
}

.header .search {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 10px;
}

.header .search input {
  padding: 5px;
  background-color: #373838;
  color: #ffb101;
  border: 1px solid #1d1d1d;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.header .search button {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

.header .search button img {
  width: 20px; 
  height: auto; 
  margin-left: 5px; 
  transition: transform 0.2s ease-in-out; 
  border: 0;
}

.header .search button img:hover {
  transform: scale(1.1); /* Leggero ingrandimento al passaggio del mouse */
}

.header .logo {
  flex: 0; 
  display: flex;
  justify-content: center; 
  align-items: center;
}

.header .logo img {
  max-height: 50px;
}

.header .nav-links {
  flex: 1; 
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}

.header .nav-links ul {
  list-style: none;
  display: flex;
  gap: 15px; 
  margin: 0;
  padding: 0;
  position: relative;
}

.header .nav-links li {
  display: inline;
  align-items: center;
  position: relative;
}

.header .nav-links a {
  text-decoration: none;
  color: #ffb101;
  font-weight: bold;
  transition: color 0.3s;
}

.header .nav-links a:hover {
  color: #e2a109; 
  text-decoration: underline; 
}

.header .nav-links a:active {
  color: #ffb101; 
}

.header .nav-links img{
  width: 20px; 
  margin-right: 5px; 
}

.header .nav-links li::after {
  content: '|';
  margin-left: 15px;
  color: #f5f5f5;
}

.header .nav-links li:last-child::after {
  content: ''; 
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #373838; 
  color: #ffb101; 
  padding: 10px 0px;
  font-size: 14px;
  width: 100%;
  position: relative; 
  margin-top: auto; /* Fa sì che il footer venga spinto al fondo */
  bottom: 0;
}

footer .rights {
  flex: 1; /* Occupa tutto lo spazio a sinistra */
  text-align: left;
  margin-left: 10px;
}

footer .privacy_terms {
  flex: 2; /* Occupa lo spazio centrale */
  text-align: center;
}

footer .privacy_terms a {
  color: #ffb101; 
  text-decoration: none;
  margin: 0 10px; 
}

footer .privacy_terms a:hover {
  text-decoration: underline; 
  color: #e2a109;
}

footer .socials {
  flex: 1; /* Occupa tutto lo spazio a destra */
  display: flex; 
  align-items: center; 
  gap: 15px; 
  justify-content: flex-end; /* Giustifica a destra */
  margin-right: 10px;
}

footer .socials a {
  color: #ffb101; 
  text-decoration: none;
  margin: 0 10px; /* Distanza tra i link */
  display: flex; 
  align-items: center; 
}

footer .socials a:hover {
  text-decoration: underline; 
  color: #e2a109;
}

footer .socials img.social-logo {
  width: 20px; 
  margin-right: 5px; 
}

.navbar {
  background-color: #282828; 
  overflow: hidden;
  border-bottom: 2px solid #ffb101; 
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; 
  justify-content: space-around; 
  align-items: center;
}

.navbar li {
  float: none; 
}

.navbar a {
  display: block;
  color: #ffb101; 
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s; 
}

.navbar a:hover {
  background-color: #ffb101;
  color: #282828; 
  border-radius: 5px; 
}

.navbar li a.active {
  background-color: #ffb101; 
  color: #282828;
  border-radius: 5px;
}

.filter-bar {
  position: relative;
  right: 38%;
  display: flex;
  align-items: center;
  z-index: 10;
  bottom: -10px;
}

.filter-label {
  color: #ffb101;
  font-size: 1.1em;
  margin-right: 10px; 
}

#filterButton {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;  
  top: 20px; 
}

#filterButton img {
  width: 30px;
  height: 30px;
}

.filter-menu {
  display: none;
  position: absolute;
  top: 0; /* Allinea il menu alla barra dei filtri */
  left: 100%; /* Dispone il menu a destra del pulsante */
  background-color: #373838;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 20;
  white-space: nowrap; /* Per impedire che il menu si spezzi su più righe */
}

.filter-menu.active {
  display: block;
}

.filter-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
}

.filter-menu li {
  padding: 8px 0;
  position: relative;
}

.filter-menu li::after {
  content: '| '; 
  position: absolute;
  right: -10px; 
  top: 50%;
  transform: translateY(-50%);
  color: #ffb101; 
}

.filter-menu li:last-child::after {
  content: ''; 
}

.filter-menu li a {
  color: #ffb101;
  text-decoration: none;
  font-size: 1.1em;
  display: block;
  transition: background-color 0.3s, color 0.3s; 
}

.filter-menu li a:hover {
  background-color: #ffb101; 
  color: #282828; 
  border-radius: 5px; 
}

.homepage-container {
  width: 80%;
  margin: 60px auto 20px;
  padding: 20px;
  background-color: #373838;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.welcome {
  text-align: center;
  font-weight: bold; 
  font-size: 1.2em;
  color: #ffb101;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  margin-bottom: -20px;
}

.albums-grid, .artists-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 60px 50px;
}

.album-item, .artist-item{
  background-color: #f5f5f5;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 15px;
  transition: transform 0.3s ease;
}

.album-item:hover, .artist-item:hover{
  transform: scale(1.05);
}

.album-item img, .artist-item img {
  width: 300px;
  height: 300px;
  object-fit: cover; /* Questo assicura che l'immagine riempia il contenitore senza distorsioni */
  border-radius: 5px;
}

.album-item p, .artist-item p {
  margin-top: 10px;
  font-size: 1.1em;
  color: #ffb101;
  font-weight: bold;
}

.no-albums, .no-artists{
  color: #ffb101; 
  font-weight: bold; 
  text-align: center; 
  font-size: 1.2em; 
  margin-top: 20px; 
}


/* Responsive design, per schermi più piccoli */
@media (max-width: 1000px) { 
  .albums-grid, .artists-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  .album-item img, .artist-item img {
    width: 175px;
    height: 175px;
    object-fit: cover; /* Questo assicura che l'immagine riempia il contenitore senza distorsioni */
    border-radius: 5px;
  }
}

@media (max-width: 768px) {
  .albums-grid, .artists-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .container {
    width: 90%; /* Rende il contenitore più largo su dispositivi più piccoli */
    padding: 15px;
  }

  .header, .footer {
    width: 100%; /* Assicura che header e footer occupino tutta la larghezza */
    padding: 10px 0; /* Allinea visivamente con il design */
  }

  .header .search input {
    width: 80%; /* Aumenta la larghezza della barra di ricerca */
  }

  .header .nav-links ul {
    flex-direction: column;
    align-items: flex-start; /* Allinea i link a sinistra */
    gap: 10px;
    margin-top: 10px;
  }

  .header .nav-links li::after {
    content: ''; 
  }

  .album-item img, .artist-item img {
    width: 150px;
    height: 150px;
    object-fit: cover; /* Questo assicura che l'immagine riempia il contenitore senza distorsioni */
    border-radius: 5px;
  }

  .filter-bar {
    position: relative;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #1d1d1d;
    border-radius: 5px;
    text-align: center;
  }

.filter-menu ul {
    flex-direction: column;
    gap: 10px;
    max-height: 100px; /* Limita l'altezza massima */
    overflow-y: auto; /* Aggiunge uno scroll se necessario */
    padding: 5px;
    background-color: #2a2a2a; /* Colore meno invasivo */
    border-radius: 5px;
  }

  .filter-menu li::after {
    content: ''; 
  }

  .welcome-message {
    font-size: 1em; 
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .albums-grid, .artists-grid {
    grid-template-columns: 1fr; 
    gap: 10px;
  }

  .container {
    width: 100%; 
    padding: 10px;
  }

  .header{
    width: 100%; 
    padding: 10px 0; 
  }

  .header .search input {
    width: 100%;
  }

  .header .nav-links ul {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  .header .logo img {
    max-height: 40px; 
  }

  .footer {
    font-size: 12px; 
    width: 100%; 
    padding: 10px 0; 
  }

  .album-item, .artist-item {
    padding: 10px; 
  }

  .album-item img, .artist-item img {
    width: 100px;
    height: 100px;
    object-fit: cover; /* Questo assicura che l'immagine riempia il contenitore senza distorsioni */
    border-radius: 5px;
  }

  .filter-menu ul {
    flex-direction: column;
    gap: 5px;
  }

  .filter-bar {
    position: relative; 
    margin-bottom: 15px;
  }

  .welcome-message {
    font-size: 0.9em;
  }

  .no-albums, .no-artists {
    font-size: 1em; /
  }
}

